<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SignUp</title>
</head>
<body>
  <form id="signup-form" method="POST" action="/auth/signup">
    <div id="alert"></div>
    
    <label for="email">Email address</label>
    <input name="Email" type="email" id="email">
    
    <label for="name">Name</label>
    <input name="Name" type="text" id="name">
    
    <label for="password">Password</label>
    <input name="Password" type="password" id="password">
    
    <label for="dob">DOB</label>
    <input name="Dob" type="date" id="dob">

    <label for="phone">Phone</label>
    <input name="Phone" type="number" id="phone">
    
    <button type="submit">Sign up</button>
  </form>
</body>
</html>